<style>
    .text-inside-grid {
        position: absolute;
        top: 5px;
        left: 5px;
        white-space: pre-wrap;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }

    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 40px;
        width: 200px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .card-container .card:not(:last-child) {
        margin-right: 0;
    }

    .card.card-small {
        height: 16px;
        width: 168px;
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
    }

    .card.highlight-card {
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }

    .card.card.highlight-card span {
        margin-left: 60px;
    }
</style>

<div class="content" role="main">
    <h2 align="center">Run an analysis:</h2>

    <div class="card-container" (click)="commentAnalysis()">
        <a class="card" target="_blank">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <path
                    d="M12 28h24v-3H12Zm0-6.5h24v-3H12Zm0-6.5h24v-3H12Zm32 29-8-8H7q-1.15 0-2.075-.925Q4 34.15 4 33V7q0-1.15.925-2.075Q5.85 4 7 4h34q1.2 0 2.1.925Q44 5.85 44 7ZM7 7v26h30.25L41 36.75V7H7Zm0 0v29.75V7Z" />
            </svg>
            <span>Comments</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            </svg>
        </a>
    </div>

    <section class="">
        <mat-grid-list cols="4" rows="2" rowHeight="4:1">
            <mat-grid-tile>
                <mat-checkbox (click)="updateFlags()" [(ngModel)]="enableWord2Vec">
                    Enable the Word2Vec model!
                </mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile> <mat-checkbox (click)="updateFlags()" [(ngModel)]="enableElmo">
                    Enable the ELMo model!
                </mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-checkbox (click)="updateFlags()" [(ngModel)]="enableRoberta">
                    Enable the RoBERTa model!
                </mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile> <mat-checkbox (click)="updateFlags()" [(ngModel)]="enableUse">
                    Enable the USE model!
                </mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile>
                Word2Vec threshold for detection
                <br>
                Current value: {{thresholdWord2Vec}}
                <br>

                <mat-slider min="0.0" max="1.0" step="0.01" showTickMarks discrete="true">
                    <input matSliderThumb (click)="updateFlags()" [(ngModel)]="thresholdWord2Vec">
                </mat-slider>

            </mat-grid-tile>
            <mat-grid-tile>
                Elmo threshold for detection
                <br>
                Current value: {{thresholdElmo}}
                <br>

                <mat-slider min="0.0" max="1.0" step="0.01" showTickMarks discrete="true">
                    <input matSliderThumb (click)="updateFlags()" [(ngModel)]="thresholdElmo">
                </mat-slider>

            </mat-grid-tile>
            <mat-grid-tile>
                RoBERTA threshold for detection
                <br>
                Current value: {{thresholdRoberta}}
                <br>

                <mat-slider min="0.0" max="1.0" step="0.01" showTickMarks discrete="true">
                    <input matSliderThumb (click)="updateFlags()" [(ngModel)]="thresholdRoberta">
                </mat-slider>
            </mat-grid-tile>
            <mat-grid-tile>
                USE threshold for detection
                <br>
                Current value: {{thresholdUse}}
                <br>

                <mat-slider min="0.0" max="1.0" step="0.01" showTickMarks discrete="true">
                    <input matSliderThumb (click)="updateFlags()" [(ngModel)]="thresholdUse">
                </mat-slider>

            </mat-grid-tile>
        </mat-grid-list>
    </section>
</div>

<mat-progress-bar [mode]="this.progress_bar_mode"></mat-progress-bar>

<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile [colspan]="file_upload_tiles[0].cols" [rowspan]="file_upload_tiles[0].rows"
        [style.background]="file_upload_tiles[0].color[0]">
        <mat-card-content>
            <input type="file" class="file-input" (change)="onFileSelected0($event)" #fileUploadZero>
            {{fileName[0] || "No file uploaded yet. Showing a demo snippet..."}}
            <button mat-raised-button color="primary" (click)="fileUploadZero.click()">
                Attach file
            </button>
        </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="file_upload_tiles[1].cols" [rowspan]="file_upload_tiles[1].rows"
        [style.background]="file_upload_tiles[1].color[0]">
        <mat-card-content>
            <input type="file" class="file-input" (change)="onFileSelected1($event)" #fileUploadOne>
            {{fileName[1] || "No file uploaded yet. Showing a demo snippet..."}}
            <button mat-raised-button color="primary" (click)="fileUploadOne.click()">
                Attach file
            </button>
        </mat-card-content>
    </mat-grid-tile>
</mat-grid-list>


<div *ngIf="tiles[0].text != undefined">
    <div *ngIf="tiles[1].text != undefined">
        <mat-grid-list *ngFor="let item of createRange(MaxRowsToRender()); let render_index=index" cols="30"
            rowHeight="25px">
            <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="tiles[0].color[render_index]">
                <mat-card-content>
                    <div class="text-inside-grid">
                        {{render_index + 1}}
                    </div>
                </mat-card-content>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="14" [rowspan]="1" [style.background]="tiles[0].color[render_index]">
                <mat-card-content>
                    <div class="text-inside-grid">
                        {{tiles[0].text[render_index]}}
                    </div>
                </mat-card-content>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="tiles[1].color[render_index]">
                <mat-card-content>
                    <div class="text-inside-grid">
                        {{render_index + 1}}
                    </div>
                </mat-card-content>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="14" [rowspan]="1" [style.background]="tiles[1].color[render_index]">
                <mat-card-content>
                    <div class="text-inside-grid">
                        {{tiles[1].text[render_index]}}
                    </div>
                </mat-card-content>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>